In [10]:
import numpy as np
import pandas as pd
import talib

In [14]:
data = pd.read_csv('./gwajae5/장하진/주식데이터 수집/루닛 주식 데이터.csv', encoding='euc-kr')
dataCp = data.copy()
dataCp.drop(['거래대금','누적체결매도수량','누적체결매수수량'], axis=1, inplace=True)
dataCp

,종목코드,종목명,날짜,시간,시가,고가,저가,종가,거래량
0,A328130,루닛,20220721,901,30800.0,30850.0,29700.0,29950.0,74516.0
1,A328130,루닛,20220721,902,30050.0,30650.0,29950.0,30050.0,107060.0
2,A328130,루닛,20220721,903,30100.0,30700.0,30100.0,30600.0,118385.0
3,A328130,루닛,20220721,904,30550.0,31500.0,30450.0,31400.0,133318.0
4,A328130,루닛,20220721,905,31400.0,32950.0,31100.0,32600.0,191059.0
...,...,...,...,...,...,...,...,...,...
90602,A328130,루닛,20230719,1517,177700.0,177800.0,177600.0,177600.0,509961.0
90603,A328130,루닛,20230719,1518,177600.0,177900.0,177600.0,177700.0,510592.0
90604,A328130,루닛,20230719,1519,177600.0,177900.0,177600.0,177700.0,512286.0
90605,A328130,루닛,20230719,1520,177800.0,177800.0,177700.0,177700.0,512841.0
90606,A328130,루닛,20230719,1530,178500.0,178500.0,178500.0,178500.0,512841.0

In [15]:
# SMA5 -> 5일동안 이동평균
# upper, middle, lower -> 볼린저 밴드
# RSI -> 상대강도지수
# MACD -> 이동 평균 수렴 발산
# AROON -> 기간의 최고점과 최저점을 분석하여 추세의 강도와 방향을 측정하는 추세 추종 지표
dataCp['SMA5'] = talib.SMA(dataCp['종가'], timeperiod=5)
dataCp['SMA20'] = talib.SMA(dataCp['종가'], timeperiod=10)
upper, middle, lower = talib.BBANDS(dataCp['종가'], timeperiod=20)
dataCp['UPPER'] = upper
dataCp['MAVG'] = middle
dataCp['LOWER'] = lower
dataCp['RSI'] = talib.RSI(dataCp['종가'], timeperiod=14)
macd, macdsignal, macdhist = talib.MACD(dataCp['종가'], fastperiod=12, slowperiod=26, signalperiod=9)
dataCp['MACD'] = macd
ar_up, ar_dn = talib.AROON(dataCp['고가'], dataCp['저가'], timeperiod=14)
dataCp['AROONUP'] = ar_up
dataCp['AROONDN'] = ar_dn

In [16]:
# dataCp[33:]
# dataCp.describe().T
# dataCp.isnull().sum()
dataCp[:-1]

,종목코드,종목명,날짜,시간,시가,고가,저가,종가,거래량,SMA5,SMA20,UPPER,MAVG,LOWER,RSI,MACD,AROONUP,AROONDN
0,A328130,루닛,20220721,901,30800.0,30850.0,29700.0,29950.0,74516.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A328130,루닛,20220721,902,30050.0,30650.0,29950.0,30050.0,107060.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A328130,루닛,20220721,903,30100.0,30700.0,30100.0,30600.0,118385.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A328130,루닛,20220721,904,30550.0,31500.0,30450.0,31400.0,133318.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A328130,루닛,20220721,905,31400.0,32950.0,31100.0,32600.0,191059.0,30920.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90601,A328130,루닛,20230719,1516,177600.0,177900.0,177600.0,177600.0,508777.0,177700.0,177750.0,178048.087018,177755.0,177461.912982,46.559279,5.090689,85.714286,78.571429
90602,A328130,루닛,20230719,1517,177700.0,177800.0,177600.0,177600.0,509961.0,177660.0,177730.0,178050.000000,177750.0,177450.000000,46.559279,-4.924010,78.571429,71.428571
90603,A328130,루닛,20230719,1518,177600.0,177900.0,177600.0,177700.0,510592.0,177580.0,177720.0,178050.000000,177750.0,177450.000000,49.808533,-4.736962,71.428571,64.285714
90604,A328130,루닛,20230719,1519,177600.0,177900.0,177600.0,177700.0,512286.0,177640.0,177710.0,178050.000000,177750.0,177450.000000,49.808533,-4.536432,64.285714,57.142857
90605,A328130,루닛,20230719,1520,177800.0,177800.0,177700.0,177700.0,512841.0,177660.0,177700.0,178048.087018,177755.0,177461.912982,49.808533,-4.327625,57.142857,50.000000

In [ ]:
# 볼린저밴드 http://blog.quantylab.com/ta_lib.html
# https://nonmeyet.tistory.com/entry/Python-TALib%EB%A5%BC-%ED%99%9C%EC%9A%A9%ED%95%9C-%EB%B9%84%ED%8A%B8%EC%BD%94%EC%9D%B8%EC%A3%BC%EA%B0%80%EA%B8%B0%EC%88%A0%EB%B6%84%EC%84%9D-%EB%B3%B4%EC%A1%B0%EC%A7%80%ED%91%9C-%EC%B6%94%EA%B0%80

In [17]:
dataCp['MACD'][:-1]

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
           ...
90601    5.090689
90602   -4.924010
90603   -4.736962
90604   -4.536432
90605   -4.327625
Name: MACD, Length: 90606, dtype: float64

In [18]:
# dataCp['SMA5','SMA20', 'UPPER', 'LOWER', 'MAVG', 'RSI',	'MACD',	'AROONUP',	'AROONDN'].fillna(dataCp.mean(), method='bfill' ,inplace=True)
# dataCp
dataCp.fillna(method='bfill', inplace=True)
dataCp

,종목코드,종목명,날짜,시간,시가,고가,저가,종가,거래량,SMA5,SMA20,UPPER,MAVG,LOWER,RSI,MACD,AROONUP,AROONDN
0,A328130,루닛,20220721,901,30800.0,30850.0,29700.0,29950.0,74516.0,30920.0,33025.0,38084.677935,34077.5,30070.322065,79.781421,754.392176,0.000000,64.285714
1,A328130,루닛,20220721,902,30050.0,30650.0,29950.0,30050.0,107060.0,30920.0,33025.0,38084.677935,34077.5,30070.322065,79.781421,754.392176,0.000000,64.285714
2,A328130,루닛,20220721,903,30100.0,30700.0,30100.0,30600.0,118385.0,30920.0,33025.0,38084.677935,34077.5,30070.322065,79.781421,754.392176,0.000000,64.285714
3,A328130,루닛,20220721,904,30550.0,31500.0,30450.0,31400.0,133318.0,30920.0,33025.0,38084.677935,34077.5,30070.322065,79.781421,754.392176,0.000000,64.285714
4,A328130,루닛,20220721,905,31400.0,32950.0,31100.0,32600.0,191059.0,30920.0,33025.0,38084.677935,34077.5,30070.322065,79.781421,754.392176,0.000000,64.285714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90602,A328130,루닛,20230719,1517,177700.0,177800.0,177600.0,177600.0,509961.0,177660.0,177730.0,178050.000000,177750.0,177450.000000,46.559279,-4.924010,78.571429,71.428571
90603,A328130,루닛,20230719,1518,177600.0,177900.0,177600.0,177700.0,510592.0,177580.0,177720.0,178050.000000,177750.0,177450.000000,49.808533,-4.736962,71.428571,64.285714
90604,A328130,루닛,20230719,1519,177600.0,177900.0,177600.0,177700.0,512286.0,177640.0,177710.0,178050.000000,177750.0,177450.000000,49.808533,-4.536432,64.285714,57.142857
90605,A328130,루닛,20230719,1520,177800.0,177800.0,177700.0,177700.0,512841.0,177660.0,177700.0,178048.087018,177755.0,177461.912982,49.808533,-4.327625,57.142857,50.000000
90606,A328130,루닛,20230719,1530,178500.0,178500.0,178500.0,178500.0,512841.0,177840.0,177770.0,178230.775171,177795.0,177359.224829,68.776942,59.702952,50.000000,100.000000

In [19]:
dataCp.to_csv('./gwajae5/장하진/주식데이터 수집/루닛 주식 데이터_preprocess.csv', encoding='euc-kr', index=False)